# --- Framework de Interface ---
streamlit

# --- Processamento de Dados e Cálculo Científico ---
pandas
numpy
scipy

# --- Visualização de Dados Interativa ---
plotly

# --- Exportação e Utilitários ---
jinja2
datetime
