# Essenciais para o KAIROS
streamlit
pandas
numpy>=1.26.0
scipy
plotly

# Visualização e Estilo
matplotlib
seaborn
Pillow

# Análise de Grafos e Similaridade
networkx
scikit-learn

# Processamento de Dados (Excel e PDF)
openpyxl
xlsxwriter

# Utilidades
python-dotenv
